<h1>HOME PAGE</h1>

<div>
  <%= link_to 'Listing Index', listings_path %>
</div>
<br><br>
<div>
  <%= link_to 'My Listings', my_listings_path %>
</div>
<br><br>
<div>
  <%= link_to 'My Purchases', my_purchases_path %>
</div>
<br><br>
<div>
  <%= link_to 'My Sales', my_sales_path %>
</div>
<br><br>
<div>
  <%= link_to 'Listing New', new_listing_path %>
</div>
<br><br>