<h1>Site Stats</h1>

<section class="stats-container">
  <div class="stat-container">
    <strong>Total Users:</strong>
    <%= @users.count %>
  </div>

  <div class="stat-container">
    <strong>Total Current Listings:</strong>
    <%= @listings.count %>
  </div>

  <div class="stat-container">
    <strong>Total Purchases:</strong>
    <%= @purchases.count %>
  </div>

  <div class="stat-container">
    <strong>Total Comments:</strong>
    <%= @comments.count %>
  </div>
</section>

<%= link_to 'Return to Dashboard', admin_dashboard_path, class: "return-link" %>