<header class="header">
  <%= link_to(root_path) do %>
    <div class="company">
      <div class="name">
        <h1>Art Haus</h1>
      </div>
      <div class="logo">
        <h1>|SOME_LOGO|</h1>
      </div>
    </div>
  <% end %>
  <div class="links">
    <%= link_to 'Listing New', new_listing_path %>
    <%= link_to 'Listing Index', listings_path %>
    <% if user_signed_in? %>
      <%= link_to 'My Listings', my_listings_path %>
      <%= link_to 'My Purchases', my_purchases_path %>
      <%= link_to 'My Sales', my_sales_path %>
      <%= link_to "Settings", user_settings_path %>
      <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "Sign In/Up", new_user_session_path %>
    <% end %>
  </div>
</header>