<h1>All Users</h1>

<% if @q %>
  <%= search_form_for @q do |f| %>
    <%= f.search_field :email_cont, placeholder: 'Search Users by Email', class: "search-bar" %>
  <% end %>
<% end %>

<section class="users-container">
  <table>
    <thead>
      <tr>
        <th class="has-content">Email</th>
        <th colspan="2" class="has-content">Permissions</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each_with_index do |user, index| %>
        <tr>
          <td><%= user.email %></td>
          <td><strong>Admin: </strong><%= user.user_detail.super_user %></td>
          <td><strong>Communications Manager: </strong><%= user.user_detail.comms_mngr %></td>
          <td class="crud"><%= link_to 'Manage User', edit_user_detail_path(user.user_detail) %></td>
          <td class="crud"><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>

<%= paginate @users %>