<%= form_with(model: [@listing, @comment], local: true) do |form| %>
  <% if flash[:comment_errors] %>
    <ul>
    <% flash[:comment_errors].each do |attribute, msg| %>
      <li><%= msg[0] %></li>
    <% end %>
    </ul>
  <% end %>

  <div class="field">
    <%= form.text_area :body, class: "text-area" %>
  </div>

  <%= form.hidden_field(:listing_id, value: @listing.id) %>
  <%= form.hidden_field(:user_id, value: current_user.id) %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>