<%= form_with(model: listing, local: true) do |form| %>
    <% if listing.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

        <ul>
        <% listing.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

  <section class="form-container">
    <div class="section-1">
      <div class="field">
        <%= form.label :title %>
        <%= form.text_field :title %>
      </div>

      <div class="field">
        <%= form.label :artist %>
        <%= form.text_field :artist %>
      </div>

      <div class="field">
        <%= form.label :price %>
        <%= form.number_field :price %>
      </div>

      <label for="listing_listings_styles_attributes_0_style_id">Styles (Up to 3)</label>
      <div class="related-form">
        <%= form.fields_for :listings_styles do |listings_styles_form| %>
            <div class="field">
              <%= listings_styles_form.select :style_id, options_for_select( Style.all.collect { |u| [u.name, u.id] }, selected: @listing.listings_styles[listings_styles_form.options[:child_index]].style_id ) %>
            </div>
        <% end %>
      </div>
    </div>

    <div class="section-2">
      <div class="field">
        <%= form.label :description %>
        <%= form.text_area :description, class: "text-area" %>
      </div>

      <div class="upload-file-container">
        <div class="file-chosen-container">
          <input id="upload-file" placeholder="Choose File" disabled="disabled" class="file-chosen"/>
        </div>
        <div class="file-upload">
          <span>Upload</span>
          <%= form.file_field :picture, accept: 'image/png, image/gif, image/jpeg, image/jpg', class: "upload", id: "upload-btn" %>
        </div>
      </div>
      <%# only ask for reCAPTCHA on deployed environment, there aren't seperate keys so solve this problem as doing it this way also means unit tests don't fail due to actually being robots %>
      <% if request.base_url != 'http://localhost:3000' %>
        <%= recaptcha_tags %>
      <% end %>

      <div class="actions">
        <%= form.submit %>
      </div>
    </div>
  </section>

  <%# this script is needed for allowing the overwritten attach file button style to show what file has been selected %>
  <script type="text/javascript">  
    document.getElementById("upload-btn").onchange = function () {  
      document.getElementById("upload-file").value = this.value;
    };
  </script> 
<% end %>
